h1 {
    color:rgb(12, 146, 146);
    font-weight: bolder;
}

.logo {
    width: 50px;
    height:60px;
    
}


.img-thumbnail{
    border-radius: 10px;
    width: 18rem;
    height: 18rem;

}

form {
    background-color: rgb(192, 222, 223);
}



.footer{
    text-align: center;
    
}
iframe{
    width: 500px; 
    height:320px;
    border-color:black;

}